<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" 
       xmlns:th="http://www.thymeleaf.org" 
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Aggregator</title>
        <div th:replace="main :: header"></div>
        <link href="/css/signin.css" rel="stylesheet" />
    </head>

    <body role="document">

        <!-- Fixed navbar -->
        <div th:replace="main :: top-nav-bar"></div>

        <div class="container">

            <form class="form-signin" role="form" th:action="@{/profile/edit}" method="post" >

                <h2 class="form-signin-heading">Редактирование профиля</h2>

                <label for="city" class="inline">Город: </label>
                <input id="city" name="city" type="text" class="form-control" placeholder="Город" required="" autofocus="" th:attr="value = ${user_details.getCity()}" />

                <label for="birthdate" class="inline">Дата рождения: </label>
                <input id="birthdate" name="birthdate" type="date" class="form-control" placeholder="Дата рождения" required="" th:attr="value = ${user_details.getBirthDate()}" />

                <label for="job" class="inline">Работа: </label>
                <input id="job" name="job" type="text" class="form-control" placeholder="Работа" required="" autofocus="" th:attr="value = ${user_details.getJob()}" />

                <label for="about" class="inline">О себе: </label>
                <textarea id="about"  class="form-control" rows="5" name="about" placeholder="О себе" th:text="${user_details.getAbout()}" ></textarea>

                <br />

                <button class="btn btn-lg btn-success btn-block" type="submit">Подтвердить</button><br />
                <a th:href="@{/profile}" style="text-decoration: none;"><button class="btn btn-lg btn-danger btn-block" type="button" >Отмена</button></a>
            </form>
        </div>



        <div th:replace="main :: footer"></div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <span th:replace="main :: scripts-js"></span>
    </body>
</html>