<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Вход на портал</title>
        <div th:replace="main :: header"></div>
        <link href="/css/signin.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">

            <div th:if="${param.error}" class="alert alert-danger">
                Неверный логин и/или пароль!
            </div>
            <div th:if="${param.logout}" class="alert alert-info">
                Вы успешно вышли!
            </div>

            <h1>Форма входа</h1>  

            <div class="container">
            <form class="form-signin" role="form" th:action="@{/login}" method="post">
                <h2 class="form-signin-heading">Форма входа</h2>
                <input name="username" type="name" class="form-control" placeholder="Login" required="" autofocus="" />
                <input name="password" type="password" class="form-control" placeholder="Password" required="" />

                <input id="remember-me" name="remember-me" type="checkbox"/> 
                <label for="remember-me" class="inline">Remember me</label>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button><br />
                <a th:href="@{/registration}" style="text-decoration: none;"><button class="btn btn-lg btn-success btn-block" type="button" >Регистрация</button></a>
            </form>
            </div>

        </div> <!-- /container -->

            <div th:replace="main :: footer"></div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

    </body>
</html>